.vscode
*.bin

1.Processi-e-thread/code/concurrent_threads
2.Concorrenza/code/concurrent_threads_semaphore
2.Concorrenza/code/scheduler
2.Concorrenza/code/scheduler1
2.Concorrenza/code/scheduler2
3.Concorrenza2/code/es1/producer_consumer
3.Concorrenza2/code/es2/client
3.Concorrenza2/code/es2/server
3.Concorrenza2/code/es3/producer
3.Concorrenza2/code/es3/consumer
4.Shared-Memory/src/01/rq_wrk
4.Shared-Memory/src/02/consumer
4.Shared-Memory/src/02/producer
4.Shared-Memory/src/03/consumer
4.Shared-Memory/src/03/producer
5.Esercizio-riepilogativo/code/riepilogo
5.Esercizio-riepilogativo/code/accesses.log
6.PIPE-e-FIFO/src/01-copy/copy
6.PIPE-e-FIFO/src/02-Pipe/main
6.PIPE-e-FIFO/src/03-EchoFIFO/echo
6.PIPE-e-FIFO/src/03-EchoFIFO/client
6.PIPE-e-FIFO/src/03-EchoFIFO/fifo_client
6.PIPE-e-FIFO/src/03-EchoFIFO/fifo_echo
7.Scrittura-su-Socket/src/01-prod_cons/producer
7.Scrittura-su-Socket/src/01-prod_cons/consumer
7.Scrittura-su-Socket/src/02-time_server/server
7.Scrittura-su-Socket/src/02-time_server/client
8.Client-Server-con-Socket/src/01/server
8.Client-Server-con-Socket/src/01/client
8.Client-Server-con-Socket/src/02/server
8.Client-Server-con-Socket/src/02/client
8.Client-Server-con-Socket/src/03/client
8.Client-Server-con-Socket/src/03/serial
8.Client-Server-con-Socket/src/03/multiprocess
8.Client-Server-con-Socket/src/03/multithread
9.Client-Server-MultiThread/server/client
9.Client-Server-MultiThread/server/server
9.Client-Server-MultiThread/sol/server/client
9.Client-Server-MultiThread/sol/server/server
10.Esercitazione-pre-esame/simulazione_di_esame/src/client
10.Esercitazione-pre-esame/simulazione_di_esame/src/server
10.Esercitazione-pre-esame/sol/simulazione di esame/client

