.vscode
*.bin

1.Processi-e-thread/code/concurrent_threads
2.Concorrenza/code/concurrent_threads_semaphore
2.Concorrenza/code/scheduler
2.Concorrenza/code/scheduler1
2.Concorrenza/code/scheduler2
3.Concorrenza2/code/es1/producer_consumer
3.Concorrenza2/code/es2/client
3.Concorrenza2/code/es2/server
3.Concorrenza2/code/es3/producer
3.Concorrenza2/code/es3/consumer
4.Shared-Memory/src/01/rq_wrk
4.Shared-Memory/src/02/consumer
4.Shared-Memory/src/02/producer
4.Shared-Memory/src/03/consumer
4.Shared-Memory/src/03/producer
5.Esercizio-riepilogativo/code/riepilogo
5.Esercizio-riepilogativo/code/accesses.log
6.PIPE-e-FIFO/src/01-copy/copy
6.PIPE-e-FIFO/src/02-Pipe/main
